
.principal{
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; 
}
.drinks{
    margin-top: 3rem;
}
.drinks h2{
   font-size: 2rem;
   text-align: center;
}
.drinks span{
    color: #8b0505;
}
.marcas{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 100%;
}

.produtos-logo .marcas-img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    border-radius: 25%;
    box-shadow: 1px 1px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    
}


#bebida-1{
    background-image: url(../imagens/marcas1.webp);
}
#bebida-2{
    background-image: url(../imagens/marcas2.webp);
}
#bebida-3{
    background-image: url(../imagens/marcas3.webp);
}
#bebida-4{
    background-image: url(../imagens/marcas4.webp);
}
#bebida-5{
    background-image: url(../imagens/marcas5.webp);
}
#bebida-6{
    background-image: url(../imagens/marcas6.webp);
}
#bebida-7{
    background-image: url(../imagens/marcas7.webp);
}
#bebida-8{
    background-image: url(../imagens/marcas8.webp);
}


#procurados h2{
    text-align: center;
    padding: 1.3em;
    font-size: 1.9rem;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}
.produtos-procurados{
    display: flex;
    justify-content: space-between;
}
.produtos-procurados img{
    width: 300px;
    margin-bottom: 1rem;
}
.produtos-procurados img:hover{
    transform: scale(1.1);
}

.whiskey {
    text-align: center;
    display: flex;
    flex-direction: column;/* Imagem em cima do texto */
    align-items: center;
}

.btn{
    margin:  15px 0 90px 0;
    padding: 10px 70px;
    background-color: #1e1e1d;
    color: #fefefe;
    border-radius: 10px ;
}
.btn:hover{
    cursor: pointer;
    background-color: #8b0505;
    transition: .2s;
}

@media  (min-width: 200px) and (max-width: 700px){
    .marcas{
       flex-wrap: wrap;
       gap: 25px;
       box-shadow: 1px 1px 0px;
    }
    .drinks{
        text-align: center;
    }
    .drinks h2{
       font-size: 1.3rem;
    }
    .produtos-procurados{
        flex-direction: column-reverse;
    }
    .produtos-procurados img:hover{
        transform: none;
    }
}
   
