main{
    max-width: 1024px;
    margin: 0 auto;
}
.bebidas-flex{
    display: flex;
    justify-content: space-between;
}

.bebidas-title h1{
    font-size: 2rem;
    text-align: center;
    padding: 4rem 0;
    text-transform: uppercase;
}
.bebidas-title{
    margin-bottom: 8%;
}
@media  (min-width: 200px) and (max-width: 700px){
    .bebidas-flex{
        flex-wrap: wrap-reverse; 
        margin-left: 20%;
    }
}