body{
    background-color: #000; 
}
main{
    max-width: 1024px;
    margin: 0 auto;
}


.banner{
    background: linear-gradient(#000000b6 ,#000000cc), url(../img-sobre/banner.jpg);
    background-position: center;    
    background-size: cover;
    height: 60vh;
    color:  #fefefe;
    
}

.banner h1{
    color: #fefefe;
    text-shadow: 7px 5px 10px #000;
    font-size: 3rem;
    position: absolute;
    top: 250px;
    left: 0px;
    text-align: center;
}
.sobre{
    color: #fefefe;
}
.sobre h1{
    font-size: 3.2rem;
    color: #8b0505;
    padding: 50px;
}
.sobre span{
    color: #f8f6f1;
}
.texto1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 45px;
}
.texto1 p {
    font-size: 1.1rem;
    line-height: 30px;
    text-align: justify;
    text-indent: 20px;
}
.texto1 img{
    width: 30%;
    margin-left: 10%;
}

.texto2{
   background-color: #0a0a0abb; 
   margin: 100px 0;
}
.texto2 h1{
    color:#8b0505;
    text-align: center;
    font-size: 2rem;
    padding-top: 15px;
}

.texto2 p{
    color: #fefefe;
    font-size: 1.1rem;
    padding: 30px 20%;
    text-align: justify;
    line-height: 25px;
}

/* texto nossos valores */
.missao{
    margin-bottom:10% ;
}
.missao h1{
    color: #f8f6f1;
    font-size: 2.3rem;
    text-align: center;
    margin: 30px 0;
    
}
.parte1 {
    display: flex;
    justify-content: space-evenly;
   
}


.imagem {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


.parte1__img1 {
    display: block;
    width: 100%;
}

.parte1__img2 {
    display: block;
    margin: 100px 5px;
    height: 50vh;
    width: 70vh;
}

.parte2{
    display: flex;
    justify-content: space-around;
}

.imagem__sobreposição {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.imagem__sobreposição--blur {
    backdrop-filter: blur(5px);
}

.imagem__sobreposição--prim {
    background: #00000066, #000000a0;
}

.imagem__sobreposição > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.imagem__sobreposição:hover {
    opacity: 1;
}

.imagem__sobreposição:hover > * {
    transform: translateY(0);
}

.imagem__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.imagem__descricao {
    font-size: 1rem;
    margin-top: 1.2rem;
}

@media  (min-width: 200px) and (max-width: 700px){
    .texto1{
      flex-direction: column-reverse;  
    }
    .texto1 img{
        width: 50%;
        margin-left:0%;
        margin-bottom: 20px;
    }
    .sobre h1{
        text-align: center;
    }
    .parte1{
        flex-wrap: wrap;
    }
    .parte2{
        flex-wrap: wrap;
    }
}