
.principal{
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; 
}
.drinks{
    margin-top: 3rem;
}
.drinks h2{
   font-size: 2rem;
   text-align: center;
}
.drinks span{
    color: #8b0505;
}
.marcas{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 100%;
}

.produtos-logo .marcas-img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    border-radius: 25%;
    box-shadow: 1px 1px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    
}


#bebida-1{
    background-image: url(imagens/2ccb3043-af96-452c-842b-63bd4dc69df0___67fad24f8e13203ed3b62f460547ab6e.webp);
}
#bebida-2{
    background-image: url(imagens/2fcb8d42-34a5-4136-96a9-22c53008d47e___55a37d7dfa7b9dc8df86ed82849f3671.webp);
}
#bebida-3{
    background-image: url(imagens/4d89e897-83de-4ecc-9ea1-96dc96b32f73___472afcdd618d587dba44407c5f25574d.webp);
}
#bebida-4{
    background-image: url(imagens/14c850c6-8ba2-4e8d-99e3-128306b7ed02___9844006a8e0db32536e654487ffa8c06\ \(1\).webp);
}
#bebida-5{
    background-image: url(imagens/4fee0cff-e409-4f27-bac7-62335b8340b9___a5ac1f27b6e2d41e96d636b35b8f0498.webp);
}
#bebida-6{
    background-image: url(imagens/7dbdb0d4-2cab-4083-8dfb-5adc68e3c321___45778e7c2fe7320704e9d4701610324c.webp);
}
#bebida-7{
    background-image: url(imagens/f798e13d-5dc4-4b20-aacf-3928649f0ef4___5f3ecef0603c3b40d5e8c86c53d47d6b.webp);
}
#bebida-8{
    background-image: url(imagens/8.webp);
}


#procurados h2{
    text-align: center;
    padding: 1.3em;
    font-size: 1.9rem;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}
.produtos-procurados{
    display: flex;
    justify-content: space-between;
}
.produtos-procurados img{
    width: 300px;
    margin-bottom: 1rem;
}
.produtos-procurados img:hover{
    transform: scale(1.1);
}

.whiskey {
    text-align: center;
    display: flex;
    flex-direction: column;/* Imagem em cima do texto */
    align-items: center;
}

.btn{
    margin:  15px 0 90px 0;
    padding: 10px 70px;
    background-color: #1e1e1d;
    color: #fefefe;
    border-radius: 10px ;
}
.btn:hover{
    cursor: pointer;
    background-color: #8b0505;
    transition: .2s;
}

@media  (min-width: 200px) and (max-width: 700px){
    .marcas{
       flex-wrap: wrap;
       gap: 25px;
       box-shadow: 1px 1px 0px;
    }
    .drinks{
        text-align: center;
    }
    .drinks h2{
       font-size: 1.3rem;
    }
    .produtos-procurados{
        flex-direction: column-reverse;
    }
    .produtos-procurados img:hover{
        transform: none;
    }
}
   
